{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEC@TBI</title>
    <link rel="stylesheet" type="text/css" href='{% static "myapp/home/index.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "myapp/home/footer.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "myapp/side2/recent.css" %}'>
    <script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div id="logo" onclick="redirhome()">
        <img src="{% static 'myapp/TBI_LOGO.png' %}" style="width: 100%;height:150px">
    </div>
    <nav id="menu">
        <div class="menu-item">
            <div class="menu-text">
                <a href="#">Products</a>
            </div>
            <div class="sub-menu" style="height: -10px;">
                <div class="icon-box"  onclick="redirproducts()">
                    <div class="icon"><i class="fal fa-wind-turbine"></i></div>
                    <div class="text">
                        <div class="title">Products Developed / Commercialized <i class="far fa-arrow-right"></i></div>
                    </div>
                </div>
                <div class="sub-menu-holder"></div>
            </div>
        </div>
        <div class="menu-item highlight">
            <div class="menu-text">
                <a href="#">About</a>
            </div>
            <div class="sub-menu double">
                <div class="icon-box gb a" onclick="redirinc()">
                    <div class="icon"><i class="far fa-question-circle"></i></div>
                    <div class="text">
                        <div class="title">Incubation <i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">From Professionals</div>
                    </div>
                </div>
                <div class="icon-box gb b" onclick="redirmen()">
                    <div class="icon"><i class="far fa-users-class"></i></div>
                    <div class="text">
                        <div class="title">Mentorship <i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">In Classroom</div>
                    </div>
                </div>
                <div class="icon-box gb c">
                    <div class="icon"><i class="far fa-school"></i></div>
                    <div class="text">
                        <div class="title">Infrastructure <i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">Work</div>
                    </div>
                </div>
                <div class="icon-box gb d" onclick="redir()">
                    <div class="icon"><i class="far fa-chess-rook"></i></div>
                    <div class="text">
                        <div class="title">Spark Fund<i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">Funding</div>
                    </div>
                </div>
                <div class="icon-box gb e">
                    <div class="icon"><i class="far fa-video-plus"></i></div>
                    <div class="text">
                        <div class="title">Facilities <i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">A Creator Environment</div>
                    </div>
                </div>
                <div class="icon-box gb f">
                    <div class="icon"><i class="fas fa-info-circle"></i></div>
                    <div class="text">
                        <div class="title">About <i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">Our Journey</div>
                    </div>
                </div>
                <div class="bottom-container">
                    Ready to dive in? <a href="#" style="margin-right: 80px;">Get Started</a>
                    <a href="{% url 'home' %}">Home</a>
                </div>
                <div class="sub-menu-holder"></div>
            </div>
        </div>
        <div class="menu-item highlight">
            <div class="menu-text">
                <a href="#">Services</a>
            </div>
            <div class="sub-menu triple">
                <div class="top-container gb c icon-box">
                    <div class="icon big"><i class="far fa-book"></i></div>
                    <div class="text">
                        <div class="title">Where to start</div>
                        <div class="sub-text">Find out where to begin below</div>
                    </div>
                </div>
                <div class="box">
                    <h3>Pre services</h3>
                    <a href="#">Business Planning and Developmen</a>
                    <a href="#">Engineering & Design</a>
                    <a href="#">Testing,Prototype</a>
                    <a href="#">Packaging of the Concept </a>
                </div>
                <div class="box">
                    <h3>Post Services</h3>
                    <a href="#">Marketing and Legal Assistance</a>
                    <a href="#">Assistance for Licences</a>
                    <a href="#">IPR related issues</a>
                    <a href="#">Post-incubation services</a>
                </div>
                <div class="icon-box flat tp">
                    <div class="icon"><i class="fal fa-plug"></i></div>
                    <div class="text">
                        <div class="title">Career Guide <i class="far fa-arrow-right"></i></div>
                    </div>
                </div>
                <div class="icon-box flat tp">
                    <div class="icon"><i class="fal fa-comments"></i></div>
                    <div class="text">
                        <div class="title">Support Line <i class="far fa-arrow-right"></i></div>
                    </div>
                </div>
                <div class="icon-box flat">
                    <div class="icon"><i class="fal fa-phone-volume"></i></div>
                    <div class="text">
                        <div class="title">Live Chat <i class="far fa-arrow-right"></i></div>
                    </div>
                </div>
                <div class="icon-box flat">
                    <div class="icon"><i class="fal fa-book-spells"></i></div>
                    <div class="text">
                        <div class="title">Documentation <i class="far fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-text">
                <a href="#">Community</a>
            </div>
            <div class="sub-menu">
                <div class="icon-box">
                    <div class="icon"><i class="fab fa-linkedin"></i></div>
                    <div class="text">
                        <div class="title">LinkedIn<i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">Join our passionate community.</div>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="fab fa-twitter-square"></i></div>
                    <div class="text">
                        <div class="title">Twitter <i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">Follow us on twitter.</div>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon"><i class="fab fa-facebook-square"></i></i></div>
                    <div class="text">
                        <div class="title">Facebook <i class="far fa-arrow-right"></i></div>
                        <div class="sub-text">WFollow us on facebook.</div>
                    </div>
                </div>
                <div class="sub-menu-holder"></div>
            </div>
        </div>
        <div id="sub-menu-container">
            <div id="sub-menu-holder">
                <div id="sub-menu-bottom">

                </div>
            </div>
        </div>
    </nav>
    <section id ="tray">
        hi
    </section>
    <div class="main-cont">
        <div class="titles1">Recent Updates</div>
        <section id="slider">
            <input type="radio" name="slider" id="s1">
            <input type="radio" name="slider" id="s2">
            <input type="radio" name="slider" id="s3" checked>
            <input type="radio" name="slider" id="s4">
            <input type="radio" name="slider" id="s5">
            
            <label for="s1" id="slide1">
                <img src="{% static 'myapp/side2/recent1.jpg' %}" alt="Update 1">
                <div class="slide-content">
                    <h2>Date:27.01.25</h2>
                    <p>Startups Interaction with Mr.Navi Radjou_French-American Scholar</p>
                </div>
            </label>
            
            <label for="s2" id="slide2">
                <img src="{% static 'myapp/side2/recent2.jpg' %}" alt="Update 2">
                <div class="slide-content">
                    <h2>Date:27.01.25</h2>
                    <p>Guest Address - Mr.Navi Radjou_French-American Scholar</p>
                </div>
            </label>
            
            <label for="s3" id="slide3">
                <img src="{% static 'myapp/side2/recent3.jpg' %}" alt="Update 3">
                <div class="slide-content">
                    <h2>Date:04.01.25</h2>
                    <p>HDFC CSR Funding - 2nd Review</p>
                </div>
            </label>
            
            <label for="s4" id="slide4">
                <img src="{% static 'myapp/side2/recent4.jpg' %}" alt="Update 4">
                <div class="slide-content">
                    <h2>Date:07.12.24</h2>
                    <p>Startup Mania 9.0 - Erode Entrepreneurship Conference</p>
                </div>
            </label>
            <label for="s5" id="slide5">
                <img src="{% static 'myapp/side2/recent5.jpg' %}" alt="Update 5">
                <div class="slide-content">
                    <h2>Date:20.09.25</h2>
                    <p>ZOHO CEO Visit to KonguTBI</p>
                </div>
            </label>
            <div class="slider-nav">
                <label for="s1"></label>
                <label for="s2"></label>
                <label for="s3"></label>
                <label for="s4"></label>
                <label for="s5"></label>
            </div>
        </section>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let currentIndex = 1; 
            const totalSlides = 5; // Adjust based on the number of slides
            function autoSlide() {
                document.getElementById(`s${currentIndex}`).checked = true;
                currentIndex++;
                if (currentIndex > totalSlides) {
                    currentIndex = 1; // Reset to the first slide
                }
            }
            setInterval(autoSlide, 2000); // Change slide every 3 seconds
        });
        //redir
        function redir(){
            window.location.href="{% url 'funds' %}";
        }
        function redirhome(){
            window.location.href="{% url 'home' %}";
        }
        function redirinc(){
            window.location.href="{% url 'incub' %}";
        }
        function redirmen(){
            window.location.href="{% url 'mentor' %}";
        }
        function redirproducts(){
            window.location.href="{% url 'product' %}";
        }
        window.addEventListener("scroll", function () {
            const nav = document.querySelector("nav");
            
            if (window.scrollY > 50) { // Adjust scroll threshold as needed
                nav.classList.add("scrolled");
            } else {
                nav.classList.remove("scrolled");
            }
        });
    </script>
</body>
</html>